header, footer {
    background-color: #d18d8d;
    color: #5c5858;
    padding: 2em;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    padding: 2em;
  }
  
  section {
    border: 10px solid #ed9ce2;
    padding: 1em;
    margin: 0;
  }
  
  header, footer {
    background-color: #d18d8d;
    color: #5c5858;
    padding: 2em;
  }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
 
}

nav li {
  display:flex;
  justify-content: space-around; 
  text-align: center ; 
  font-weight: bold;
  color: #5c5858;
  font-size: 20px;
  width: auto;
  height: auto;
  background: #d18d8d;
  border: 3px solid #000;
  padding: 10px;
}